*{
    margin: 0;
    padding: 0;
}
.navbar{
    /* position: fixed; */
    height: 80px;
    padding: 0 10px;
    z-index: 500;
    background-color: black;
}
.global-nav .nav{
    position: relative;
    margin: 0 auto;
    display: flex;
    height: 80px;
    justify-content: space-between;

}

.nav .left{
    padding-top: 25px;
    align-items:flex-start;
    color: white;
}
.right{
    position: relative;
}

.right .items{
    display: flex;
}

.right .items li{
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
}

.right .items .nav-item{
    display: flex;
    align-items: center;
    padding-left: 28px;
    height: 80px;
    cursor: pointer;
}

.right .items .nav-item a{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.nav-item span{
    padding-left: 11px;
}

.heading-section{
    font-size: 100px;
    width: 30%;
    animation: fadeIn 7s;
    color: white;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .top{
    display: flex;
    justify-content: space-between;
    background-color: black;

  }
  .photo-section{
    align-items: baseline;
    padding-top: 50px;
  }
  /* @media screen and (min-width: 320px) and (max-width: 480px)  {
    .about-us{

    }
  } */

    .about-us{
         padding-top:100px ;
         display: flex;
         justify-content: center;
        /* padding-left: 101px;*/
    }
  .text-about-us{
    padding-top: 25px;
  }
  .para-about-us{
    width: 70%;
  }